<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>天知道</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <div class="wrap" id="app">
      <div class="search_form">
        <div class="logo"><img src="img/logo.png" alt="logo" /></div>
        <div class="form_group">
          <input
            type="text"
            v-model='city'
            class="input_txt"
            placeholder="请输入查询的天气"
            @keyup.enter='add'
          />
          <button class="input_sub" @click='add'>
            搜 索
          </button>
        </div>
        <div class="hotkey">
          <a href="javascript:;" @click='set("北京")'>北京</a>
          <a href="javascript:;" @click='set("上海")'>上海</a>
          <a href="javascript:;" @click='set("广州")'>广州</a>
          <a href="javascript:;" @click='set("深圳")'>深圳</a>
        </div>
      </div>
      <ul class="weather_list">
        <li v-for='i in arr'>
          <!-- date: "24日星期三"
fengli: "<![CDATA[1级]]>"
fengxiang: "东风"
high: "高温 6℃"
low: "低温 -2℃"
type: "多云" -->
          <div class="info_type"><span class="iconfont">{{i.type}} </span></div>
          <div class="info_temp">
            <b>{{i.low}} </b>
            ~
            <b>{{i.high}} </b>
          </div>
          <div class="info_date"><span>{{i.date}} </span></div>
        </li>
      </ul>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 自己的js -->
    <script>
      // http://wthrcdn.etouch.cn/weather_mini,get,参数名city
      var app=new Vue({
        el:'#app',
        data:{
          city:'',
          arr:[],
        },
        methods:{
          add:function(){
            var that=this;
            axios.get('http://wthrcdn.etouch.cn/weather_mini?city='+this.city).
            then(function(response){
              
              // console.log(response.data.data.forecast);
              that.arr=response.data.data.forecast;
            },function(err){
              console.log(err);
            })
          },

          set:function(city){
            this.city=city;
            this.add()
          }
        }
        
      })
    </script>
  </body>
</html>
