a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #c5c4c4;
}
.outer {
  background-color: #000;
}
.top-bar {
  height: 48px;
  background-color: #000;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.left-menu:active .nav {
  display: block;
}
.left-menu .nav {
  display: none;
  position: absolute ;
  top: 48px;
  background-color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
}
.left-menu .nav li {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #757474;
}
.left-menu .nav li a {
  display: block;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
}
.left-menu .nav li span {
  color: #fff;
  font-size: 14px;
}
.left-menu .nav li:last-child a {
  display: inline-block;
  margin-right: 6px;
}
.left-menu .menu-icon {
  width: 18px;
  height: 48px;
  position: relative;
}
.left-menu .menu-icon li {
  width: 18px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transform-origin: left;
  transition: 0.5s;
}
.left-menu .menu-icon li:nth-child(1) {
  top: 18px;
}
.left-menu .menu-icon li:nth-child(2) {
  top: 24px;
}
.left-menu .menu-icon li:nth-child(3) {
  top: 30px;
}
.left-menu .menu-icon:active li:nth-child(1) {
  transform: rotateZ(42deg);
}
.left-menu .menu-icon:active li:nth-child(2) {
  opacity: 0;
}
.left-menu .menu-icon:active li:nth-child(3) {
  transform: rotateZ(-42deg);
}
.logo a {
  text-indent: -9999px;
  display: block;
  width: 122px;
  height: 32px;
  background-image: url('../code/exercise/img/18/dff63979.sprites-index@2x.png');
  background-size: 400px 400px;
}
@media only screen and (min-width: 768px) {
  .logo {
    order: 1;
  }
  .left-menu {
    flex: auto;
    order: 2;
  }
  .left-menu .nav {
    display: flex;
    position: static;
    padding-top: 0;
    justify-content: space-evenly;
  }
  .left-menu .nav li {
    width: auto;
    border-bottom: none;
    margin: 0;
  }
  .left-menu .nav li a {
    line-height: 48px;
  }
  .left-menu .nav li span {
    display: none;
  }
  .left-menu .menu-icon {
    display: none;
  }
  .user-info {
    order: 3;
  }
}
